.todo-canvas.hidden{
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
}
.todo{ position: absolute;
  right: 20px;
  bottom: -35%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  z-index: 10;
  }
.todo-canvas{
  opacity: 1;
  
  width: 300px;
  transition: opacity 250ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.515);
  padding: 30px 15px;
  
  border-radius: 15px;
  margin-bottom: 25px;
}

.notification{
  font-style:italic;
  color: #822020c2;
}
.todo-add-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.todo-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: solid 1px #e8dddd;
  border-radius: 50%;
  color: white;
  background-color: transparent;

  cursor: pointer;
}
.content{
  background-color: rgba(255, 255, 255, 0.686);
  border: solid 1px #e8dddd;
  border-radius: 4px;
  outline: none;
}

.tasks-list{
  list-style: none; 
  text-align: right;


}
.task-item{
display: flex;
flex-direction: row-reverse;
&:not(:last-child){
  margin-bottom: 5px;
}
}
.task-item__content{
  // color: #373636;
  color: white;
  font-size: 14px;
  font-style: italic;
  background-color: transparent;
border-radius: 3px;
border: none;
}
.btn-remove{
margin-right: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

width: 20px;
height: 23px;
color: white;

background-color: transparent;
border: solid 1px #e8dddd;
border-radius: 5px;

cursor: pointer;
}
.btn-open-list{
  width: 75px;
  height: 30px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border: solid 2px white;
  cursor: pointer;

}